huggingface-hub==0.17.2
optimum==1.13.2
protobuf==4.24.3
tokenizers==0.13.3
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0
transformers==4.33.2
fastapi==0.103.1
uvicorn==0.23.2
pydantic~=2.4.0
accelerate
optimum
--extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/
auto-gptq