huggingface-hub==0.17.2
optimum==1.13.2
protobuf==4.24.3
tokenizers==0.13.3
--extra-index-url https://download.pytorch.org/whl/nightly/cu121
torch==2.2.0.dev20230922+cu121
torchaudio==2.2.0.dev20230922+cu121
torchvision==0.17.0.dev20230922+cu121
transformers==4.33.2
fastapi==0.103.1
uvicorn==0.23.2
pydantic~=2.4.0
